.callout {
  max-width: 380px;
  margin: 10px;
  border: none;
  padding: 10px;
  background-color: rgb(0, 76, 139);
  color: white;
}

.callout img {
  float: right;
  margin: 10px;
  border: 2px solid black;
  padding: 4px;
  background-color: rgb(179, 179, 179);
  width: 90px;
  height: auto;
}

blockquote {
  margin: 0px
}

cite {
  display: block;
  border-top: white 1px solid;
  padding-top: 6px;
  text-align: end;
  font-size: 16px;
}